.marquee
{
  
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
    -webkit-animation: marquee 50s linear infinite;
}

.down 
{
    color: red;
}

.up 
{
    color: green;
}

ul{list-style-type: none;font-size: 21px;line-height: 22px;}
li{font-size:10;}
.smaller{
font-size: 21px;
}